body{
	background-color: #FA8072;
	font-family: Geneva;
	margin:0 auto;
	text-align: center;
	
}
h1{
      text-align: center;
	font-family: Algerian new Roman;
	color: black;
}
p{
	font-family: coper black;
	color: black;
}
movies.img{
	text-align: center;

}